@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 141 31% 98%;
    --foreground: 141 79% 4%;
    --muted: 141 35% 87%;
    --muted-foreground: 141 9% 38%;
    --popover: 141 31% 97%;
    --popover-foreground: 141 79% 3%;
    --card: 141 31% 97%;
    --card-foreground: 141 79% 3%;
    --border: 141 3% 91%;
    --input: 141 3% 91%;
    --primary: 141 92% 41%;
    --primary-foreground: 141 100% 2.31%;
    --secondary: 141 35.31% 78.6%;
    --secondary-foreground: 141 36.53% 7.32%;
    --accent: 141 51.02% 92.15%;
    --accent-foreground: 141 72.73% 8.91%;
    --destructive: 17 88.43% 46.95%;
    --destructive-foreground: 17 100% 96.05%;
    --ring: 141 92% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 141 37% 4%;
    --foreground: 141 25% 99%;
    --muted: 141 35% 13%;
    --muted-foreground: 141 9% 62%;
    --popover: 141 37% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 141 37% 5%;
    --card-foreground: 0 0% 100%;
    --border: 141 3% 11%;
    --input: 141 3% 11%;
    --primary: 141 92% 41%;
    --primary-foreground: 141 92% 1%;
    --secondary: 141 37.76% 14.52%;
    --secondary-foreground: 141 81.18% 67.3%;
    --accent: 141 12.32% 10.27%;
    --accent-foreground: 141 22% 80%;
    --destructive: 17 99% 57%;
    --destructive-foreground: 0 0% 0%;
    --ring: 141 92% 41%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}